*{
    padding:0px;
    margin:0px;
}
body{
    background-image:url("wood.png");
    background-size:cover;
}
img{
    width:100%
}
select{
    height:100px;
    width:300px;
    background-color:azure;
    justify-content:center;
    text-align:center;
    border-radius:30px;
    font-size:30px;
    background-color:#FFE7CC;
    transition:all 0.4s ease-in 0s;
    top:30%;
}
select:hover{
    background-color:#987070;
    scale:1.08;
}
button{
    height:100px;
    width:200px;
    background-color:limegreen;
    bottom:50px;
    justify-content:center;
    font-size:30px;
    border-radius:30px;
    transition:all 0.3s ease-in 0s;
}
button:hover{
    background-color:#059212;
}
a{
    text-decoration:none;
}